<div style="width: 400px;margin: 0 auto;text-align: center;">

    <h1>Personal Account Opening</h1>

    <ul style="list-style: none; margin: 0 auto;
        padding-left: 13px;">

        <li style="color: #cccccc;">
            <div class="active-bg-icon" style="float: left;">
                <img src="../../../assets/images/Group773.png" height="20" width="20">
                <p class="li-icon-seperator"></p>
            </div>
            <div class="li-content">
                <p class="li-subtitle-disabled">Identify Yourself</p>
                <p class="li-subcontent-disabled">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
            </div>
        </li>


        <li>
            <div class="active-bg-icon" style="float: left;">
                <img src="../../../assets/images/Group774.png" height="20" width="20">
                <p class="li-icon-seperator"></p>
            </div>
            <div class="li-content">
                <p class="li-subtitle-active">Validate BVN</p>
                <p class="li-subcontent-active">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
            </div>

        </li>

        <li style="color: #cccccc;">
            <div class="active-bg-icon" style="float: left;">
                <img src="../../../assets/images/Group775.png" height="20" width="20">
                <p class="li-icon-seperator"></p>
            </div>
            <div class="li-content">
                <p class="li-subtitle-disabled">Security Questions</p>
                <p class="li-subcontent-disabled">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
            </div>
        </li>

        <li style="color: #cccccc;">
            <div class="active-bg-icon" style="float: left;">
                <img src="../../../assets/images/Group775.png" height="20" width="20">
                <!-- <p class="li-icon-seperator"></p> -->
            </div>
            <div class="li-content">
                <p class="li-subtitle-disabled">Enter New Password</p>
                <p class="li-subcontent-disabled">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
            </div>

        </li>
    </ul>

</div>