<div style="padding-top: 60px; padding-bottom: 0px;">

    <!-- Header Section -->
    <div class="fixed-header" style="height: 60px ;">
        Stanbic IBTC Quick Services
        <img class="logo-cls" src="./assets/images/standard_bank_logo 1.png" style="float: right;margin-top: -10px !important;">
    </div>

    <!-- Router Outlet -->
    <router-outlet>
    </router-outlet>

    <div class="row" style="width: 100%;margin-top: 0px;height:100% !important;">

        <!-- Footer Section -->
        <div class="fixed-footer" style=" height: auto;clear: both !important;">
            <!-- <div> -->
            <div class="row first-footer-row">
                <div class="col-4" style="float: left;">
                    Stanbic IBTC Bank is a member of the Standard Bank Group, an authorized financial services and registered credit provider. RC125097
                </div>
                <div class="col-4"></div>
                <div class="col-4 social-media" style="float: right; ">
                    <a href="https://www.linkedin.com/company/stanbic-ibtc">
                        <img src="./assets/images/linkedin.png" height="15px" width="15px" /></a>
                    <a href="https://www.facebook.com/StanbicIBTC">
                        <img src="./assets/images/facebook.png" height="15px" width="15px" /></a>
                    <a href="http://www.twitter.com/stanbicibtc">
                        <img src="./assets/images/twitter.png" height="15px" width="15px" /></a>
                    <a href="http://www.youtube.com/standardbankgroup ">
                        <img src="./assets/images/youtube.png" height="15px" width="15px" /></a>
                </div>
            </div>

            <div class="row second-footer-row" style="background-color: #272727;">
                <div class="col-4 rights-reserved">
                    (c) {{date| date:'yyyy'}}, All Rights Reserved Stanbic IBTC</div>
                <div class="col-4"></div>
                <div class="col-4 disclaimer">
                    <a href="https://www.stanbicibtcbank.com/nigeriabank/personal/about-us/legal/disclaimer">Disclaimer</a>
                    <a href="https://www.stanbicibtcbank.com/nigeriabank/personal/about-us/legal/conditions-of-access">Terms &
              Conditions</a>
                    <a href="https://www.stanbicibtcbank.com/nigeriabank/personal/about-us/legal/security-statement">Privacy &
              Security</a>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>

</div>